<div id="menuContainer">
    <div class="item branding" [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <img id='main-logo' src="assets/img/logo_live.png" alt="logo de platzinger">
            Platzinger
    </div>
    <div class="item" [routerLink]="['/profile']" routerLinkActive="router-link-active" >
        Profile
    </div>
</div>

