<div id="conversartionContainer">
    <div class="container pato45">
        <div class="row">
            <div class="col-md-2">
                <div class="avatarFrameonline">
                    <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="">
                </div>
                <div class="pato85">
                    <div class=" avatarFrameonline">
                        <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="">
                    </div>
                </div>
            </div>
            <!--Fin del row de 12-->
            <div class="col-md-10">
                <div class="container">
                    <div class="col-md-10">
                        <span><b>{{friend.nick}}</b> - <b class="text-success">(Conectado)</b> </span><br>
                        <i>Si fuera facili cualquiera lo haría</i>
                        <hr />

                    </div>
                    <div class="col-md-12">
                        <div>
                            hola quetal ! <br>
                          
                        </div>
                        <div class="paleftRigth">
                            hola, <br>
                            buen día ?<br>
                            hola<br>
                        </div>
                        que paso ?
                    </div>
                    <div class="col-md-10">
                        <div class="pato10">
                            <hr />
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                        <div class="btnLeft">
                            <a class="btn btn-success ">Enviar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin del row de 10-->
        </div>
        <!--Fin del row principal-->
    </div>
</div>