<div id="profileContainer">
    <div class="container pato45">
        <div class="row">
            <div class="col-md-3">
                <div class="avatarFrameonline" *ngIf="user">
                    <img [src]="croppedImage || user.avatar || 'assets/img/generic_avatar.png'" class="avatarImage img-fluid" alt="">
                </div>
                <hr />
                <div>
                    <span>
                        Cambiar Foto
                    </span>
                    <br>
                    <label class="custom-file-upload">
                        <input type="file"  (change)="fileChangeEvent($event)" >  Subir Avatar
                    </label>
               
                   
                </div>
            </div>
            <div class="col-md-9" *ngIf="user">
                    <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1"
                    [resizeToWidth]="128"
                    format="png"
                    
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                <img  />

                <div>
                    <label fixed>Nick</label>
                    <input [(ngModel)]="user.nick" type="text" class="form-control" />
                </div>
                <div>
                    <label fixed>SubNick</label>
                    <input [(ngModel)]="user.subNick" type="text" class="form-control" />
                </div>
                <div>
                    <label fixed>Email</label>
                    <input [(ngModel)]="user.email" type="email" disabled class="form-control" />
                </div>    
                <div>
                    <label  fixed>Status</label>
                    <select [(ngModel)]="user.status" class="form-control">
                        <option value="online">Conectado</option>
                        <option value="away">Ausente</option>
                        <option value="busy">Ocupado</option>
                        <option value="appear_offline">Desconectado</option>
                    </select>
                </div>
                <hr />
                <a (click)='saveSettings()' class="btn btn-primary btn-block" >Guardar</a>
            </div>
        </div>
    </div>
</div>
