/* You can add global styles to this file, and also import other style files */
.avatarFrameOffline{
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
text-align: center;
padding: 5%;
border-radius: 10px;
border: 1px solid white;
display:inline-block;

}

.avatarFrameonline{
    background: rgba(168,191,151,1);
    background: -moz-linear-gradient(top, rgba(168,191,151,1) 0%, rgba(52,99,13,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(168,191,151,1)), color-stop(100%, rgba(52,99,13,1)));
    background: -webkit-linear-gradient(top, rgba(168,191,151,1) 0%, rgba(52,99,13,1) 100%);
    background: -o-linear-gradient(top, rgba(168,191,151,1) 0%, rgba(52,99,13,1) 100%);
    background: -ms-linear-gradient(top, rgba(168,191,151,1) 0%, rgba(52,99,13,1) 100%);
    background: linear-gradient(to bottom, rgba(168,191,151,1) 0%, rgba(52,99,13,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8bf97', endColorstr='#34630d', GradientType=0 );
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display:inline-block;
}

.center{
    text-align: center !important;
}

.marto15{
    margin-top: 15px;
}

.marbo15{
    margin-bottom: 15px;
}

.marbo5{
    margin-bottom: 5px;
}
.inSesion{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(202,228,242,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(202,228,242,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(202,228,242,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(202,228,242,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(202,228,242,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,228,242,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    text-align: center;
    padding: 2%;
    border-radius: 2px;
    border: 1px solid white;
    display:inline-block;
}

.generalContent{
    margin-top: 56px;
}
#homeAvatarPicture{
    max-width: 100px;
}
.disblo{
    display: block;
}

.pato45{
    padding-top: 45px;
}

.pato10{
    padding-top: 40%;
    border-radius: 10px;
    border: 1px solid white;
    display:block;
}

.pato85{
    padding-top: 200%;
}
.paleftLeft{
    padding-left: 20% ;
}

.paleftRigth{
    padding-left: 35% ;
}

input[type='file']{
    display: none;
}
.custom-file-upload {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(105,206,236,1) 36%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(36%, rgba(105,206,236,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(105,206,236,1) 36%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(105,206,236,1) 36%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(105,206,236,1) 36%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(105,206,236,1) 36%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce8ef', endColorstr='#73bace', GradientType=1 );
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #8dd2f3;
}

.btnLeft{
    padding-left: 90%;
    padding-top:1%;
}

.cursor{
    cursor: pointer ;
}