<div id="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameonline">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
                    </div>
                </div>
                <div class="col">
                    <b>Eduardo</b>
                    <div>
                        <span class="text-success">Online</span>
                        <br>
                        <span>< Escribe un mensaje personal ></span><br>
                        <a (click)="logout()" class="cursor">Cerrar Sesión</a>
                    </div>
                </div>
        </div>
      </div>
      <div class="whiteContainerPadded marto15">
          <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Buscar amigo .." [(ngModel)]="query">
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" class="icon" alt="">
            </div>
          </div>
            
            <br>
            <hr>
            <b *ngIf="friends">Amigos ( {{friends.length}} / {{friends.length}})</b><br>
            
            <div *ngFor="let user of friends | search:query ; let i = index" class="disblo marbo5">
                
                    <span routerLink="/conversation/{{user.uid}}">
                    <img src="assets/img/logo_live_online.png" class="icon" alt="">
                       <b class="cursor">{{user.nick}}</b> - {{user.subnick || 'sin subnick'}}
                       <small>{{user.email}}</small>
                    </span>
            </div>
      </div>
</div>
